@model IEnumerable<User>

    @foreach(var user in Model){
    <div>
        <a asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
            @user.UserName
        </a>
    </div>
    }